:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    width: 100%;
    background-image: url(./images/background.png);
    background-size: cover;
    padding: 0rem 5%;
    position: relative;
    overflow: hidden;
}

.navContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

nav ul{
    display: flex;
    list-style: none;
    column-gap: 3rem;
    font-size: 2rem;
}

nav ul a{
    color: #333;
}

.logo {
    width: 18rem;
}

.cart {
    width: 5rem;
}

.content {
    margin-top: 10%;
    margin-left: 10%;
}

.content h1{
    font-size: 6rem;
    color: #232d60;
    margin: 1rem 0rem;
}

.content p {
    font-size: 2rem;
    color: #6a7199;
}

button {
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 0.6rem;
    padding: 1rem 2rem;
    color: #fff;
    box-shadow: 0.3rem 0.8rem 2.2rem rgba(94, 28, 68, 0.15);
    border: none;
}

a  {
    text-decoration: none;
}

a, .logo, .cart, button {
    cursor: pointer;
}

.arrowContainer {
    margin-top: 4rem;
    display: flex;
    column-gap: 3rem;
}

.arrowContainer a img {
    width: 5rem;
}

.mainImage {
    position: absolute;
    bottom: 0rem;
    right: 10%;
    height: 90%;
}

.socialLinks {
    transform: rotate(-90deg);
    position: absolute;
    left: -8rem;
    bottom: 18rem;
}

.socialLinks a {
    text-decoration: none;
    color: -webkit-linear-gradient(#0cf,#d400d4);
    padding-right: 2rem;
    font-size: 1.7rem;
    font-weight: bold;
}

@media (max-width: 1560px) {
    .mainImage {
        right: 1%;
    }
}

@media (max-width: 1400px) {
    .mainImage {
        bottom: -36rem;
    }
}

@media (max-width: 767px) {
    .navContainer img {
        display: none;
    }

    .navContainer {
        justify-content: center;
        padding-top: 3rem;    
    }

    .mainImage {
        display: none;
    }

    .socialLinks {
        width: 100%;
        transform: rotate(0);
        left: initial;
        bottom: 10rem;
        text-align: center;
    }

    .socialLinks a {
        padding: initial;
        font-size: 1.7rem;
        font-weight: bold;
    }

    .container {
        text-align: center;
        padding: 0;
    }

    .content {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .middleSocialLink {
        margin: 0rem 1.5rem;
    }
}

@media (max-width: 450px) {
    nav ul {
        column-gap: 2rem;
    }

    .navContainer {
        padding-top: 3rem;
    }

}

@media (max-width: 365px) {
    nav ul {
        column-gap: 1rem;
    }

    .navContainer {
        padding-top: 3rem;
    }

    .socialLinks {
        bottom: 6rem;
    }

    .middleSocialLink {
        display: flex;
        justify-content: center;
        margin: 2rem;
    }
}